h1,
h2,
h3 {
    font-family: 'Young Serif', serif;
    font-weight: 400;
}

body {
    font-family: 'Outfit', sans-serif;
    font-weight: 400;
}

strong,
b {
    font-weight: 600;
}

li::marker {
    color: hsl(14, 45%, 36%);
}

.styled-table {
        width: 100%;
        border-collapse: collapse;
        text-align: left;       
    }

    .styled-table td {
        padding: 10px;
        border-bottom: 1px solid #ddd;
    }

    .styled-table tr:last-child td {
        border-bottom: none;
    }

    .styled-table td:first-child {
        width: 2%;
    }

    .styled-table td:last-child {
        font-weight: 600;
        color: hsl(332, 51%, 32%);
    }